<div dir="auto" align="center">
    <h3>
        بسم الله الرحمن الرحیم
    </h3>
    <br>
    <h1>
        <strong>
            بازیابی پیشرفته اطلاعات
        </strong>
    </h1>
    <h2>
        <strong>
            تمرین چهارم (دسته‌بندی اخبار)
        </strong>
    </h2>
    <br>
    <h3>
        محمد هجری - ٩٨١٠٦١٥٦
        <br><br>
        ارشان دلیلی - ٩٨١٠٥٧٥١
        <br><br>
        سروش جهان‌زاد - ٩٨١٠٠٣٨٩
    </h3>
    <br>
</div>
<hr>

<div>
    <h3 style='direction:rtl;text-align:justify;'>
        دسترسی به داده‌ها و مدل‌های ذخیره شده
    </h3>
</div>

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
        به دلیل حجم بالای فایل‌های ذخیره شده، از قرار دادن آن‌ها در پوشه نوتبوک صرف نظر کرده و با اجرای قطعه کد زیر، از طریق گوگل درایو به آن‌ها دسترسی پیدا می‌کنیم.
    </p>
</div>

In [1]:
# import sys
# from google.colab import drive
# drive.mount('/content/drive')
# address = "University/Term 6/MIR/Homeworks/HW3"
# sys.path.append(f"/content/drive/My Drive/{address}")
# %cd /content/drive/My\ Drive/$address

<div>
    <h3 style='direction:rtl;text-align:justify;'>
        نصب و دسترسی به کتابخانه‌های مورد نیاز
    </h3>
</div>

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
        با اجرای دو قطعه کد زیر، کتابخانه‌هایی که از آن‌ها در این تمرین استفاده شده است، نصب و قابل استفاده می‌شوند.
    </p>
</div>

In [ ]:
! pip install bs4
! pip install tqdm
! pip install pandas
! pip install requests
! pip install hazm
! pip install unidecode
! pip install datasets
! pip install scikit-learn
! pip install nltk
! pip install networkx

In [1]:
import os
import re
import csv
import hazm
import nltk
import json
import torch
import pickle
import zipfile
import requests
import numpy as np
import pandas as pd
import networkx as nx
from tqdm import tqdm
from pathlib import Path
from datasets import Dataset
from bs4 import BeautifulSoup
from string import punctuation
from IPython.display import display
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, confusion_matrix
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.preprocessing import normalize

<div>
    <h3 style='direction:rtl;text-align:justify;'>
        ١. دریافت داده‌ها
    </h3>
</div>

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
        در این تمرین، بیش از ٦٨ هزار خبر از
        <a href="https://www.hamshahrionline.ir/"> وب‌سایت همشهری‌آنلاین </a>
        گردآوری شده که در ١٠ دسته‌ی سیاسی، جهانی، اقتصادی، اجتماعی، شهری، ورزشی، علمی، فرهنگی، فناوری اطلاعات و مهارت‌های زندگی طبقه‌بندی شده‌اند.
    </p>
</div>

In [2]:
CATEGORIES = {
    'Politics': 'سیاسی',
    'World': 'جهانی',
    'Economy': 'اقتصادی',
    'Society': 'اجتماعی',
    'City': 'شهری',
    'Sport': 'ورزشی',
    'Science': 'علمی',
    'Culture': 'فرهنگی',
    'IT': 'فناوری اطلاعات',
    'LifeSkills': 'مهارت‌های زندگی',
}

CATEGORIES_CLASSES = {
    'Politics': 0,
    'World': 1,
    'Economy': 2,
    'Society': 3,
    'City': 4,
    'Sport': 5,
    'Science': 6,
    'Culture': 7,
    'IT': 8,
    'LifeSkills': 9,
}

CLASSES_CATEGORIES = {v: k for k, v in CATEGORIES_CLASSES.items()}

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
        برای دریافت داده‌ها یک ماژول Scraper ساخته‌ایم که اخبار مربوط به ١٠ دسته‌ی مذکور را در بازه‌ی زمانی تعیین شده، کراول کرده و در فایل dataset.zip ذخیره و فشرده سازی می‌کند. کد مربوط به این ماژول را در زیر مشاهده می‌کنید.
    </p>
</div>

In [3]:
class Scraper:

    def __init__(self, current_year, current_month):
        self.current_year = current_year
        self.current_month = current_month

    def get_URL_content(self, URL):
        while True:
            try:
                return requests.get(URL, timeout=5).content
            except:
                pass

    def generate_page_URL(self, page_index, category, year, month):
        tp = {'Politics': 6, 'World': 11, 'Economy': 10, 'Society': 5, 'City': 7,
              'Sport': 9, 'Science': 20, 'Culture': 26, 'IT': 718, 'LifeSkills': 21}[category]
        return f'https://www.hamshahrionline.ir/archive?pi={page_index}&tp={tp}&ty=1&ms=0&mn={month}&yr={year}'

    def get_page_URLs_by_time(self, category, year, month):
        URLs = []
        page_index = 1
        while True:
            URL = self.generate_page_URL(page_index, category, year, month)
            content = self.get_URL_content(URL)
            if re.findall('pagination', str(content)):
                URLs.append(URL)
                page_index += 1
            else:
                break
        return URLs

    def get_page_URLs_since(self, category, year, month):
        URLs = []
        with tqdm() as pbar:
            while True:
                if month > 12:
                    month = 1
                    year += 1
                pbar.set_description(f'[{category}] [Extracting page URLs] [Date: {year}/{month}]')
                URLs_by_time = self.get_page_URLs_by_time(category, year, month)
                if URLs_by_time:
                    for URL in URLs_by_time:
                        URLs.append(URL)
                    month += 1
                elif self.current_year > year or (self.current_year == year and self.current_month > month):
                    month += 1
                else:
                    break
        return URLs

    def get_news_URLs_since(self, category, year, month):
        news_URLs = []
        page_URLs = self.get_page_URLs_since(category, year, month)
        with tqdm(page_URLs) as pbar:
            for page_URL in pbar:
                content = self.get_URL_content(page_URL)
                soup = BeautifulSoup(content, 'html5lib')
                for item in soup.findAll('li', attrs={'class': 'news'}):
                    URL = item.find('div', attrs={'class': 'desc'}).find('h3').find('a')['href']
                    URL = 'https://www.hamshahrionline.ir' + URL
                    news_URLs.append(URL)
                pbar.set_description(f'[{category}] [Extracting news URLs] [{len(news_URLs)} news until now]')
        return news_URLs

    def parse_news(self, URL, category):
        try:
            content = self.get_URL_content(URL)
            soup = BeautifulSoup(content, 'html.parser')
            date = soup.find('div', {'class': 'col-6 col-sm-4 col-xl-4 item-date'}).span.text.strip()
            title = soup.find('div', {'class': 'item-title'}).h1.text.strip()
            intro = soup.find('p', {'class': 'introtext', 'itemprop': 'description'}).text.strip()
            body = soup.find('div', {'class': 'item-text', 'itemprop': 'articleBody'}).text.strip()
            return {
                'date': date,
                'title': title,
                'intro': intro,
                'body': body,
                'category': category,
            }
        except:
            return None

    def scrape(self, from_year, from_month):
        categories = ['Politics', 'World', 'Economy', 'Society', 'City',
                      'Sport', 'Science', 'Culture', 'IT', 'LifeSkills']
        news = []
        for category in categories:
            URLs = self.get_news_URLs_since(category, from_year, from_month)
            with tqdm(URLs) as pbar:
                pbar.set_description(f'[{category}] [Scraping news]')
                for URL in pbar:
                    news.append(self.parse_news(URL, category))
        news = list(filter(None, news))
        pd.DataFrame(news).to_csv(f'dataset.csv', encoding='utf-8')
        with zipfile.ZipFile('dataset.zip', 'w', zipfile.ZIP_DEFLATED) as zip_file:
            zip_file.write('dataset.csv')
        os.remove('dataset.csv')

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
        با اجرای قطعه کد زیر، یک instance از ماژول Scraper ایجاد شده و شروع به دریافت و ذخیره‌سازی داده‌ها می‌کند. خبرهای دریافت شده همگی مربوط به قرن جدید، از سال ١٤٠٠ به بعد هستند.
    </p>
</div>

In [4]:
scraper = Scraper(current_year=1401, current_month=3)
#scraper.scrape(from_year=1400, from_month=1)

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
        بعد از ذخیره شدن داده‌ها در فایل فشرده dataset.zip، آن‌ها را از این فایل استخراج کرده و وارد برنامه می‌کنیم. با اجرای قطعه کد زیر، تعداد خبرهای هر دسته و تعداد کل خبرها را می‌توان مشاهده کرد.
    </p>
</div>

In [5]:
def read_dataset_from_file():
    dataset = []
    with zipfile.ZipFile('dataset.zip', 'r') as zip_file:
        zip_file.extractall()
    with open('dataset.csv', encoding='utf-8') as file:
        csv_reader = csv.reader(file)
        header = next(csv_reader)
        for row in csv_reader:
            data = dict(zip(header[1:], row[1:]))
            dataset.append(data)
    os.remove('dataset.csv')
    return dataset


dataset = pd.DataFrame(read_dataset_from_file())

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
    با اجرای قطعه کد زیر، تعداد خبرهای هر دسته و تعداد کل خبرها را می‌توان مشاهده کرد.
    </p>
</div>

In [6]:
def display_dataset_info():
    global CATEGORIES, dataset

    length_dict = {key: 0 for key in CATEGORIES.keys()}
    for _, data in dataset.iterrows():
        length_dict[data['category']] += 1

    df_dict = {
        'دسته': CATEGORIES.values(),
        'تعداد': length_dict.values(),
    }

    df = pd.DataFrame(df_dict)
    df.index += 1
    df.loc[0] = ['کل خبرها', len(dataset)]
    df = df.sort_index()
    display(df)


display_dataset_info()

               دسته  تعداد
0          کل خبرها  68362
1             سیاسی  15798
2             جهانی   2895
3           اقتصادی   8900
4           اجتماعی  13585
5              شهری   3853
6             ورزشی   8348
7              علمی   3190
8            فرهنگی   6512
9    فناوری اطلاعات    437
10  مهارت‌های زندگی   4844

<div>
    <h3 style='direction:rtl;text-align:justify;'>
        ٢. پیش پردازش اولیه‌ی متن
    </h3>
</div>

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
        ابزار مورد استفاده برای پیش‌پردازش متن ورودی به صورت ماژولار طراحی شده است؛ به طوری که با صدا زدن تابع preprocess از آن، متن داده شده با عبور از یک خط لوله به صورت مرحله به مرحله تغییر می‌کند تا به یک ساختار استاندارد برسد. این مراحل عبارتند از:
    </p>
</div>

<div dir="auto" align="justify">
    <li style='direction:rtl;text-align:justify;'>
        نرمال سازی داده‌ها (normalize)
    </li>
    <li style='direction:rtl;text-align:justify;'>
        حذف لینک‌ها (remove_links)
    </li>
    <li style='direction:rtl;text-align:justify;'>
        حذف نشانه‌های نگارشی (remove_punctuations)
    </li>
    <li style='direction:rtl;text-align:justify;'>
        واحد سازی داده‌ها (word_tokenize)
    </li>
    <li style='direction:rtl;text-align:justify;'>
        حذف کلمات نامعتبر (remove_invalid_words)
    </li>
    <li style='direction:rtl;text-align:justify;'>
        حذف ایست‌واژه‌ها (remove_stopwords)
    </li>
</div>

In [7]:
class Preprocessor:

    def __init__(self, stopwords_path):
        self.stopwords = []
        with open(stopwords_path, encoding='utf-8') as file:
            self.stopwords = file.read().split()

    def preprocess(self, text):
        text = self.normalize(text)
        text = self.remove_links(text)
        text = self.remove_punctuations(text)
        words = self.word_tokenize(text)
        words = self.remove_invalid_words(words)
        words = self.remove_stopwords(words)
        return words

    def normalize(self, text):
        return hazm.Normalizer().normalize(text)

    def remove_links(self, text):
        patterns = ['\S*http\S*', '\S*www\S*', '\S+\.ir\S*', '\S+\.com\S*', '\S+\.org\S*', '\S*@\S*']
        for pattern in patterns:
            text = re.sub(pattern, ' ', text)
        return text

    def remove_punctuations(self, text):
        return re.sub(f'[{punctuation}؟،٪×÷»«]+', '', text)

    def word_tokenize(self, text):
        return hazm.word_tokenize(text)

    def remove_invalid_words(self, words):
        return [word for word in words if len(word) > 3 or re.match('^[\u0600-\u06FF]{2,3}$', word)]

    def remove_stopwords(self, words):
        return [word for word in words if word not in self.stopwords]

In [8]:
def save_preprocessed_texts(texts, path="Preprocessed_texts.pickle"):
    with open(path, "wb") as file:
        pickle.dump(texts, file)


def load_preprocessed_texts(path="Preprocessed_texts.pickle"):
    with open(path, "rb") as file:
        return pickle.load(file)


def data_to_text(data):
    return ' '.join([data['title'], data['intro'], data['body']]).lower()


def get_preprocessed_texts(dataset, preprocessor, mode, save=False):
    preprocessed_texts = []
    if mode == 'process':
        texts = [data_to_text(data) for _, data in dataset.iterrows()]
        preprocessed_texts = [preprocessor.preprocess(text) for text in tqdm(texts)]
    if mode == 'load':
        preprocessed_texts = load_preprocessed_texts()
    if save:
        save_preprocessed_texts(preprocessed_texts)
    return preprocessed_texts

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
        با اجرای قطعه کد زیر، یک instance از ماژول Preprocessor ایجاد کرده و شروع به پیش پردازش داده‌ها می‌کنیم، یا داده‌های پیش‌پردازش‌شده‌ی ذخیره‌شده را از فایل مربوطه بازیابی می‌کنیم.
    </p>
</div>

In [9]:
preprocessor = Preprocessor(stopwords_path='stopwords.txt')

In [10]:
preprocessed_texts = get_preprocessed_texts(dataset, preprocessor, mode='load', save=False)

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
        با توجه به این که حجم مجموعه داده‌ها باعث ایجاد محدودیت حافظه و زمان برای مدل tf-idf می‌شود، ناچار هستیم کسری از مجموعه‌ی داده‌ها را به عنوان ورودی برای یادگیری به آن بدهیم. با اجرای قطعه کد زیر، یک مجموعه داده‌ی کوچک‌تر از روی مجموعه داده‌ی اصلی ایجاد می‌کنیم.
    </p>
</div>

In [12]:
def get_mini_dataset(len_each_category=1000):
    global CATEGORIES, dataset

    mini_dataset = []
    for category in CATEGORIES.keys():
        dataset_by_category = dataset.loc[dataset['category'] == category]
        length = min(len_each_category, dataset_by_category.shape[0])
        mini_dataset.append(dataset_by_category.sample(length, random_state=1))

    mini_dataset = pd.concat(mini_dataset).reset_index(drop=True)
    texts = [data_to_text(data) for _, data in mini_dataset.iterrows()]
    mini_preprocessed_texts = [preprocessor.preprocess(text) for text in tqdm(texts)]
    return mini_dataset, mini_preprocessed_texts


# Almost 4K News
mini_dataset, mini_preprocessed_texts = get_mini_dataset()
mini_dataset['category_code'] = mini_dataset['category'].apply(lambda x: CATEGORIES_CLASSES[x])
labels = mini_dataset['category_code'].to_numpy()

100%|██████████| 9437/9437 [00:37<00:00, 251.83it/s]

<div>
    <h3 style='direction:rtl;text-align:justify;'>
        ٣. رتبه‌بندی و تحلیل لینک
    </h3>
</div>

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
در این قسمت، با استفاده از دو روش PageRank و HITS به رتبه‌بندی اخبار می‌پردازیم. در قسمت اول ابتدا ماتریس مجاورت را برای اخبار دیتاست می‌سازیم.
    </p>
</div>

<div>
    <h4 style='direction:rtl;text-align:justify;'>
       ۱. ساخت ماتریس مجاورت
    </h4>
</div>

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
    برای ساخت ماتریس مجاورت به این صورت عمل می‌کنیم که هر خبر را به عنوان یک node در نظر می‌گیریم. سپس با در نظر گرفتن تعداد کلمات مشترک هر دو خبر، اگر این تعداد از یک THRESHOLD مشخص بیش‌تر باشد، آن دو خبر را به یک‌دیگر وصل می‌کنیم.
    </p>
</div>

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
    نحوه اتصال به این صورت است که فرض کنید دو خبر i و j را با یک‌دیگر مقایسه می‌کنیم. فرض کنید طول خبر i  برابر ۳ کلمه و طول خبر j برابر ۱۰ کلمه است و این دو خبر، ۳ کلمه مشترک دارند. با این فرض وزن یال i به  j برابر  ۰.۳ و وزن یال j به i برابر ۱ است.
    </p>
</div>

<div dir="auto" align="justify">
    <p style='direction:rtl;text-align:justify;'>
    منطق این روش وزن‌دهی به این صورت است که خبری که طول کوتاه‌تری دارد، احتمالاً خبر جامع‌تری است و وزن ورودی به آن کم‌تر از وزن خروجی از آن باید باشد.
    </p>
</div>

In [95]:
THRESHOLD = 2

def relevant_text(bow_1, bow_2):
    bow_1 = set(bow_1)
    bow_2 = set(bow_2)
    len_bow1 = len(bow_1)
    len_bow2 = len(bow_2)
    same_words = bow_1.intersection(bow_2)
    len_same = len(same_words)
    #if len_same >= min(len_bow1, len_bow2, THRESHOLD):
    if len_same >= THRESHOLD:
        return (len_same/len_bow1), (len_same/len_bow2)
    else:
        return 0, 0

In [96]:
titles = mini_dataset['title'].to_list()
titles = [preprocessor.preprocess(title) for title in titles]

In [97]:
def get_adj_matrix(dataset):
    adjacency_matrix = np.zeros(shape=(dataset.shape[0], dataset.shape[0]))
    for i in tqdm(range(dataset.shape[0]), position=0, leave=True):
        for j in range(i, dataset.shape[0]):
            if i == j:
                continue
            edge_j_i, edge_i_j = relevant_text(titles[i], titles[j])
            adjacency_matrix[i, j] = edge_i_j
            adjacency_matrix[j, i] = edge_j_i
    return adjacency_matrix

In [98]:
adjacency_matrix = get_adj_matrix(mini_dataset)

100%|██████████| 9437/9437 [01:17<00:00, 121.15it/s]

In [99]:
G = nx.from_numpy_array(adjacency_matrix)

In [138]:
def get_top_rankings(dataset, graph, method='pr', k=5):
    if method == 'pr':
        pr = nx.pagerank(graph)
        vals = np.array(list(pr.values()))
        idx = np.argsort(-vals)
        display(dataset.iloc[idx[:k]])
    elif method == 'hits':
        h, a = nx.hits(graph)
        vals_h = np.array(list(h.values()))
        idx_h = np.argsort(-vals_h)
        top_h = dataset.iloc[idx_h[:k]]
        vals_a = np.array(list(a.values()))
        idx_a = np.argsort(-vals_a)
        top_a = dataset.iloc[idx_a[:k]]
        print("Hubs:")
        display(top_h)
        print("Authority:")
        display(top_a)
    else:
        print("Not valid method!")

In [139]:
get_top_rankings(mini_dataset, G, method='pr')

,date,title,intro,body,category,category_code
3768,چهارشنبه ۱۶ تیر ۱۴۰۰ - ۱۶:۰۲,فردا ۱/۵ میلیون دوز واکسن کرونا به ایران می‌رس...,سخنگوی ستاد مقابله با کرونا گفت: ارسال نشدن ۳ ...,به گزارش همشهری آنلاین به نقل از صدا و سیما، د...,Society,3
5400,شنبه ۹ بهمن ۱۴۰۰ - ۱۰:۱۲,عکس | واکنش جالب انگلیسی‌ها به جذب مهاجم تیم م...,مهاجم ملی‌پوش ایران در آستانه پیوستن به باشگاه...,به گزارش همشهری‌آنلاین، اللهیار صیادمنش مهاجم ...,Sport,5
1333,پنجشنبه ۵ اسفند ۱۴۰۰ - ۱۰:۲۸,ببینید | اوکراین؛ از آژیر حمله هوایی تا آتش سو...,رئیس جمهوری روسیه صبح امروز اعلام کرد که در پا...,به گزارش همشهری آنلاین به نقل از تسنیم، شورای ...,World,1
1729,جمعه ۶ اسفند ۱۴۰۰ - ۰۱:۵۵,موضع دولت ایران درباره جنگ روسیه و اوکراین | ک...,سخنگوی دولت به تحولات اخیر در شرق اروپا و آغاز...,به گزارش همشهری به نقل از ایسنا، علی بهادری جه...,World,1
5060,پنجشنبه ۲۳ دی ۱۴۰۰ - ۰۹:۳۶,واکنش وزارت امور خارجه آمریکا به حاشیه های سفر...,سخنگوی وزارت امورخارجه آمریکا می گوید: برای صد...,به گزارش همشهری آنلاین اظهارات علیرضا دبیر در ...,Sport,5

In [140]:
get_top_rankings(mini_dataset, G, method='hits')

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/networkx/algorithms/link_analysis/hits_alg.py:78: FutureWarning: adjacency_matrix will return a scipy.sparse array instead of a matrix in Networkx 3.0.
  A = nx.adjacency_matrix(G, nodelist=list(G), dtype=float)

Hubs:

,date,title,intro,body,category,category_code
2184,سه‌شنبه ۴ خرداد ۱۴۰۰ - ۱۴:۰۴,نوسان قیمت دلار | جدیدترین قیمت ارزها در ۴ خرد...,هر دلار امروز سه‌شنبه ۴ خرداد ۱۴۰۰ در صرافی‌ها...,به گزارش همشهری‌آنلاین، امروز قیمت خرید و فروش...,Economy,2
2461,شنبه ۲۲ خرداد ۱۴۰۰ - ۱۳:۵۳,کاهش قیمت طلا و سکه در بازار | جدیدترین نرخ طل...,امروز قیمت هر قطعه سکه تمام ‌بهار آزادی طرح جد...,به گزارش همشهری‌آنلاین، امروز شنبه ۲۲ (خرداد ۱...,Economy,2
2873,چهارشنبه ۱۹ خرداد ۱۴۰۰ - ۰۸:۵۷,نرخ ۲۵ ارز کاهش یافت | جدیدترین قیمت رسمی ارزه...,بانک مرکزی امروز، چهارشنبه (۱۹خرداد)، نرخ رسمی...,به گزارش همشهری‌آنلاین، بانک مرکزی امروز نرخ ه...,Economy,2
2088,شنبه ۹ مرداد ۱۴۰۰ - ۱۵:۲۲,قیمت طلا و سکه صعودی شد | جدیدترین نرخ طلا و س...,امروز قیمت هر قطعه سکه تمام‌ بهار آزادی طرح جد...,به گزارش همشهری ‌آنلاین، همزمان با افزایش قیمت...,Economy,2
2926,سه‌شنبه ۱۶ شهریور ۱۴۰۰ - ۰۸:۴۰,نرخ ۲۶ ارز کاهش یافت | جدیدترین قیمت رسمی ارزه...,بانک مرکزی امروز، سه‌شنبه (۱۶شهریور)، نرخ رسمی...,به گزارش همشهری‌آنلاین، بانک مرکزی امروز نرخ ه...,Economy,2

Authority:

,date,title,intro,body,category,category_code
2184,سه‌شنبه ۴ خرداد ۱۴۰۰ - ۱۴:۰۴,نوسان قیمت دلار | جدیدترین قیمت ارزها در ۴ خرد...,هر دلار امروز سه‌شنبه ۴ خرداد ۱۴۰۰ در صرافی‌ها...,به گزارش همشهری‌آنلاین، امروز قیمت خرید و فروش...,Economy,2
2461,شنبه ۲۲ خرداد ۱۴۰۰ - ۱۳:۵۳,کاهش قیمت طلا و سکه در بازار | جدیدترین نرخ طل...,امروز قیمت هر قطعه سکه تمام ‌بهار آزادی طرح جد...,به گزارش همشهری‌آنلاین، امروز شنبه ۲۲ (خرداد ۱...,Economy,2
2873,چهارشنبه ۱۹ خرداد ۱۴۰۰ - ۰۸:۵۷,نرخ ۲۵ ارز کاهش یافت | جدیدترین قیمت رسمی ارزه...,بانک مرکزی امروز، چهارشنبه (۱۹خرداد)، نرخ رسمی...,به گزارش همشهری‌آنلاین، بانک مرکزی امروز نرخ ه...,Economy,2
2088,شنبه ۹ مرداد ۱۴۰۰ - ۱۵:۲۲,قیمت طلا و سکه صعودی شد | جدیدترین نرخ طلا و س...,امروز قیمت هر قطعه سکه تمام‌ بهار آزادی طرح جد...,به گزارش همشهری ‌آنلاین، همزمان با افزایش قیمت...,Economy,2
2926,سه‌شنبه ۱۶ شهریور ۱۴۰۰ - ۰۸:۴۰,نرخ ۲۶ ارز کاهش یافت | جدیدترین قیمت رسمی ارزه...,بانک مرکزی امروز، سه‌شنبه (۱۶شهریور)، نرخ رسمی...,به گزارش همشهری‌آنلاین، بانک مرکزی امروز نرخ ه...,Economy,2